include logo/logo
include profile/profile
include contact/contact
include skills/skills
include practice/practice
include software/software
include header/header

doctype html
html
  head
  meta(charset = 'utf-8')
  meta(name='viewport', content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
  link( rel="apple-touch-icon" sizes="180x180" href=require('./favicons/apple-touch-icon.png'))
  link( rel="icon" type="image/png" sizes="32x32" href=require('./favicons/favicon-32x32.png'))
  link( rel="icon" type="image/png" sizes="16x16" href=require('./favicons/favicon-16x16.png'))
  link( rel="manifest" href="favicons/site.webmanifest")
  link( rel="mask-icon" href=require('./favicons/safari-pinned-tab.svg') color="#5bbad5")
  meta( name="msapplication-TileColor" content="#2d89ef")
  meta( name="theme-color" content="#ffffff")
  title CV
  body
    - const text = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.';
    .content
      .content__left
        +logo({name: 'name here', surname: 'surname', job: 'graphic designer'})
        +profile('profile')
        +contact({address:'Main Street, City', email:'contact@domain.com', phone:'555-555-555', website:'www.yourweb.com'})
        +header('skills')  
        .skills-block
          +skills({name:'creative', value:9, maxValue:12})
          +skills({name:'teamwork', value:11, maxValue:12})
          +skills({name:'innovate', value:6, maxValue:12})
          +skills({name:'communication', value:11, maxValue:12})
      .content__right  
        +header('education')
        .education-block
          +practice({title:'master degree', data:'// Feb 2011 - Jun 2014', name:'university name', text: text})
          +practice({title:'master degree', data:'// Feb 2011 - Jun 2014', name:'university name', text: text})
          +practice({title:'master degree', data:'// Feb 2011 - Jun 2014', name:'university name', text: text})
          +practice({title:'master degree', data:'// Feb 2011 - Jun 2014', name:'university name', text: text})
        +header('experience')
        .experience-block
          +practice({title:'company name', data:'// Feb 2011 - Jun 2014', name:'your job here', text: text})
          +practice({title:'company name', data:'// Feb 2011 - Jun 2014', name:'your job here', text: text})
          +practice({title:'company name', data:'// Feb 2011 - Jun 2014', name:'your job here', text: text})
        +header('software')  
        .software-block
          .software-block__left
            +software({name: 'photoshop', percent:'91.11%'})
            +software({name: 'illustrator', percent:'71%'})
            +software({name: 'indesign', percent:'56.2%'}) 
          .software-block__right
            +software({name: 'dreamweaver', percent:'83%'})
            +software({name: 'after effects', percent:'61.7%'})
            +software({name: 'html5css3', percent:'91%'})    